:root{
    --text-color-primary: #000;
    --text-color-secondary: #705400;
    --bg-primary: #FDC51D;
    --bg-primary-05: rgba(253, 197, 29, 0.5);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}
body{
    background: #fefefe;
}

#menu-logo{
    position: relative;
    width: 25%;
    background-color: #000;

    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 10%;
        width: 100%;
        height: 100%;
        background-color: #000;
        transform: skewX(50deg);
        z-index: 0;
    }

    & img{
        max-width: 75%;
        z-index: 1;
    }
}

#menu-links{
    width: 75%;
    background-color: var(--bg-primary);


    & ul#links{
        width: 100%;

        & li{
            list-style: none;
    
        
            & a{
                position: relative;
                text-decoration: none;
                color: var(--text-color-primary);
                font-weight: 600;
                text-transform: uppercase;


                &::before{
                    position: absolute;
                    content: '';
                    bottom: -2px;
                    left: 0;
                    width: 0;
                    height: 3px;
                    background-color: var(--text-color-secondary);
                    transition: all .5s;
                }
                
                &:hover{
                    font-weight: 700;
                    color: var(--text-color-secondary);
                    
                    &::before{
                        width: 100%;
                    }
                }
            }
        }
    }
}

#banner{
    height: 100vh;
    background-image: url(../images/Klampiarstvo\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -50px;


    & #banner-content{
        max-width: 1200px;
    }
}

#about-us{
    height: calc(100vh - 9.45rem);
    color: var(--text-color-primary);

    & #about-img{
        right: 50%;
        transform: translateX(-27%);

        & #img-wrapper{
            position: relative;
            width: fit-content;
            z-index: 1;

            & img{
                max-height: 300px;
            }

            &::before{
                position: absolute;
                content: '';
                top: 20%;
                left: 50%;
                width: 100%;
                height: 100%;
                border: 1.5rem solid var(--bg-primary-05);
                z-index: -1;
            }
        }
    }

    & #about-text{
        max-width: 800px;
        margin-top: 6rem;

        & h2{
            width: 100%;
            padding: 0;
            font-weight: 600;
        }
        & p{
            padding: 0 10px 0 0;
            width: 100%;
        }
    }
}

#we-ensure{
    text-transform: uppercase;
    background-color: var(--bg-primary);

    & h3,
    & p{
        margin: 0;
        padding: 0;
    }

    & h3{
        font-weight: 600;
    }

    & p{
        font-weight: 450;
    }
}