:root {
  --text-color-primary: #000;
  --text-color-secondary: #705400;
  --bg-primary: #fdc51d;
  --bg-primary-05: rgba(253, 197, 29, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  scroll-behavior: smooth;
  scroll-padding: 6.5rem;
}

body {
  overflow-x: hidden;
  background: #fefefe;
}

