:root {
  --text-color-primary: #000;
  --text-color-secondary: #fdc51d;
  --text-color-tertiary: #705400;
  --bg-primary: #fdc51d;
  --bg-primary-05: rgba(253, 197, 29, 0.5);
  --text-weight-600: 600;
  --text-weight-700: 700;
  --text-weight-800: 800;
  --sections-gap: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  scroll-behavior: smooth;
  scroll-padding: 6.5rem;
}

body {
  overflow-x: hidden;
  background: #fefefe;
}

.header{
  --padding: .8rem;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-evenly;
  height: 3rem;
  width: 100vw;
  z-index: 100;

  & .menu-logo{
    display: flex;
    align-items: center;
    width: 80%;
    height: 100%;
    padding: var(--padding) 2rem;
    background: #000;

    & img{
      width: 7rem;
    }
  }

  & .links{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    top: 0;
    right: 0;
    height: 100vh;
    width: 50vw;
    background: var(--bg-primary);
    list-style: none;
    z-index: 99;
    transform: translateX(200%);
    transition: all .5s ease;

    & a{
      text-decoration: none;
      color: var(--text-color-primary);
      font-weight: var(--text-weight-600);
    }
  }

  & .menu-toggle{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: var(--padding);
    width: 20%;
    height: 100%;
    outline: none;
    border: none;
    background: var(--bg-primary);
    cursor: pointer;
    z-index: 100;

    & div{
      width: 1.5rem;
      height: 3px;
      border-radius: 15px;
      background: #000;
    }
  }
}


.banner{
  height: calc(100vh - 3rem);
  margin-bottom: var(--sections-gap);

  & .banner-content{
    display: grid;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url(../images/bgbanner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 70%;

    & h1{
      position: relative;
      text-align: center;
      color: var(--text-color-secondary);

      & span{
        position: absolute;
        top: -2.2rem;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}


.about-us{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--sections-gap);
  
  & .about-img{
    margin-bottom: 1rem;
    
    & .img-wrapper{
      position: relative;
      max-width: 250px;
      
      & img{
        width: 100%;
      }

      &  div{
        position: absolute;
        padding: .3rem .6rem;
        width: fit-content;
        text-align: center;
        font-size: .9rem;
        border-radius: 5px;
        background-color: #f1efef;
        animation: fadeIn 4000ms infinite;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        
        &:nth-child(2){
          top: -1rem;
          left: -1.5rem;
        }

        &:nth-child(3){
          bottom: -0.5rem;
          right: -3rem;
          animation-delay: 1000ms;
        }
      }
    }
  }

  & .about-text{
    text-align: center;
    max-width: 300px;

    & h2{
      text-transform: uppercase;
    }
  }
}

.services{
  --padding: 1rem;
  display: grid;
  place-items: center;
  
  & .we-ensure{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: var(--padding);
    width: 100%;
    padding: 2rem;
    margin-bottom: var(--sections-gap);
    background-color: var(--bg-primary);
    
    & .row{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--padding);
      max-width: 325px;

      &:nth-child(1){
        grid-template-columns: 1fr;
        margin-bottom: 1rem;
      }
    }
  }

  & .our-services{
    margin-bottom: calc(var(--sections-gap) / 3);
    
    & h2{
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 2rem;
    }

    & .service{
      max-width: 325px;
      margin-bottom: 2rem;

      & .img-wrapper{
        max-width: 325px;
        
        & img{
          width: 100%;
          border-radius: 7px;
        }
      }

      &:nth-child(odd){
        display: flex;
        flex-direction: column-reverse;
        text-align: right;
      }
    }

  }
}

.gallery{
  text-align: center;
  
  & h2{
    text-transform: uppercase;
    margin-bottom: 2rem;
  }

  & .images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);

    & img{
      width: 100%;
    }
  }
}

.ask-question{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem;

  & h2{
    position: relative;
    max-width: 325px;
    margin-bottom: 1rem;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--text-color-secondary);
    z-index: -1;
    text-shadow: 10px 10px var(--bg-primary-05);
  }

  & form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    & input,
    textarea{
      padding: .5rem;
      min-width: 325px;
      outline: none;
      border: 2px solid var(--bg-primary);
      border-radius: 5px;

      &:focus{
        border-color: var(--text-color-tertiary);
      }
    }

    & textarea{
      height: 6.2rem;
      resize: none;
    }

    & input[type=submit]{
      width: fit-content;
      padding: 10px 20px;
      font-weight: var(--text-weight-600);
      background: var(--bg-primary);
    }
  }
}

@keyframes fadeIn{
  0%{
    scale: 1;
  }

  50%{
    scale: .9;
  }

  100%{
    scale: 1;
  }
}